// Place all the styles related to the Diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.space-between-div{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.space-between-categories {
    padding-bottom: 40px;
}

.space-down {
    margin-bottom: 150px;
    float: right
}

.space-left {
    margin-right: -200px;
    margin-left: 200px;
}

hr {
    margin-bottom: 40px; 
}

.hr1 {
    border: 0;
    border-top: 2px solid #CCC;
}

.hr2 {
    border: 0;
    border-top: 2px dashed #CCC;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
